.divd{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.formf{
    background: rgb(2,33,30);
    background: linear-gradient(145deg, rgba(2,33,30,1) 0%, rgba(43,122,115,1) 35%, rgba(89,177,169,1) 100%);
    width: 800px;
    height: 600px;
    border-radius: 30px;
    text-align: center;
    -webkit-box-shadow: 10px 10px 23px 0px rgba(51,51,51,1);
    -moz-box-shadow: 10px 10px 23px 0px rgba(51,51,51,1);
    box-shadow: 10px 10px 23px 0px rgba(51,51,51,1);
}

.top{
    margin-top: 80px;
    font-family: "Roboto Slab", serif;
    font-weight:300;
    color: white;
}

.label, .p{
    color: white;
    font-size: 20px;
}